<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aplicacion Blog</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="{% url 'nuevo_usuario' %}">Nuevo Usuario</a></li>
                <li><a href="{% url 'nuevo_tema' %}">Nuevo Tema</a></li>
                <li><a href="{% url 'nueva_discusion' %}">Nueva Discusión</a></li>
                <li><a href="{% url 'iniciar_sesion' %}">Iniciar sesion</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>